[Unit]
Description=Kanshi display configuration
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=on-failure

[Install]
WantedBy=graphical-session.target
