[Unit]
Description=Mina Update Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mina-check-updates
LogLevelMax=warning
